---
layout: base
---

%h1
  Source Code

%h2 togglz

%p
  Togglz is hosted on GitHub. If you want to have a look at the source code, want
  to contribute or report an issue please head over to:

%p
  %a(href='https://github.com/togglz/togglz')
    https://github.com/togglz/togglz

%h2 website

%p
  If you found something you want to change on this website we would appreciate a pull request on it's repo:

%p
  %a(href='https://github.com/togglz/togglz-site')
    https://github.com/togglz/togglz-site
