---
layout: base
---

%h1
  What's new?

%p
  This page contains some details about the latest changes made to Togglz and which new features have been added
  in the recent releases.

%a(name='2.0.0.Beta1')
%h2
  Togglz 2.0.0.Beta1

%ul
  %li
    The core classes of Togglz don't assume that features are declared using Java enums any more. This allows users
    to use different approaches to define which features are available. Users could for example use a database to manage 
    the features and their metadata.
  %li
    The new <code>StaticFeatureManagerProvider</code> simplifies the configuration of Togglz in standalone applications. 
  %li
    Two new activation strategies have been added to Togglz. The <i>Client IP</i> strategy allows to enable features only
    for a specific number of client IP addresses. This strategy is useful if features should be active for users
    accessing a site from a specific location. The <i>Server IP</i> strategy behaves similar. But instead of the client IP, it uses
    the server's IP address. This strategy can be used for canary testing if you want to activate a feature only
    on a specific server of you cluster.  
  %li
    Typically users configure Togglz by implementing the <code>TogglzConfig</code> interface. As an alternative to this, 
    you can now implement <code>TogglzBootstrap</code> instead. Doing this allows you to configure more aspects of Togglz as you can
    directly interact with the <code>FeatureManagerBuilder</code> instead of just configuring some of it's properties.
  %li
    The new SPI <code>FeatureManagerListener</code> has been added which allows you to get notified when Togglz starts up
    and shuts down. This SPI has been added for other Togglz modules but may also be used directly by the user.
  %li
    The <code>@WithFeature</code> annotation of the JUnit integration module now allows to activate multiple feature
    at once and may even be used if you want to explicitly disable certain features in a test.

%a(name='2.0.0.Alpha1')
%h2
  Togglz 2.0.0.Alpha1

%ul
  %li
    The most noteworthy change in this version is the new extensible feature activation mechanism, that allows 
    to implement custom strategies for activating features based on arbitrary conditions. As you know, Togglz already
    allowed to restrict features to a given list of users. Togglz 2.0.0.Alpha1 now also supports to activate features 
    for a given percentage of users (gradual rollouts) or at a specific point in time (timed rollouts). 
    There is also an generic strategy based on Java's 
    <a href="http://docs.oracle.com/javase/7/docs/api/javax/script/ScriptEngine.html">ScriptEngine</a>, 
    that allows you to write strategies using script languages (like JavaScript) and update them at runtime.
  %li
    As Togglz now allows to implement custom strategies for activating features, the data model of the persisted
    feature state had to change. Togglz will automatically migrate the data persisted by previous versions  
    (like the properties file or the database table) to the new format. However this has one drawback. 
    Older versions of Togglz won't be able to read the new data format any more. So going back to an older version
    of Togglz will be difficult. <u>So please take special care and backup your state repository data</u>.
  %li
    If you are using a custom implementation of the <code>StateRepository</code> interface, you will have to
    update your implementation to persist the new <code>FeatureState</code> data structure. Have a look at the
    other state repositories if you have any problems.
  %li
    Please note, that although this release is called 2.0.0.Alpha1, it is considered to be very stable. The main
    reason for calling it Alpha1 instead of CR1 is, that we are looking for community feedback regarding the new APIs.

%a(name='1.1.1')
%h2
  Togglz 1.1.1.Final

%ul
  %li
    Fixed issue in FileBasedStateRepository and InMemoryStateRepository which may lead to data corruption 
    of the repository data in case of conurrent writes (see <a href="https://github.com/togglz/togglz/issues/21">#21</a>). 
    Special thanks to <a href="https://github.com/jadlr">Jonas Adler</a> for bringing this up.
  %li
    Fixed SPI implementation ordering issue for priority of Integer.MIN_VALUE 
    (see <a href="https://github.com/togglz/togglz/issues/22">#22</a>).

%a(name='1.1.0')
%h2
  Togglz 1.1.0.Final

%ul
  %li
    The new <a href="/apidocs/1.1.0.Final/org/togglz/core/repository/cache/CachingStateRepository.html">CachingStateRepository</a> 
    allows to add caching capabilities to existing state repositories. See the chapter on
    <a href="/documentation/repositories.html#CachingStateRepository">State Repositories</a> for details. 
  %li
    The Spring integration module now contains the 
    <a href="/apidocs/1.1.0.Final/org/togglz/spring/proxy/FeatureProxyFactoryBean.html">FeatureProxyFactoryBean</a>, which
    allows to use different Spring beans depending on a specific feature state. The 
    <a href="/documentation/usage.html#FeatureProxyFactoryBean">Usage</a> chapter contains concrete examples on how
    to configure this factory bean.
  %li
    It's now possible to define groups of features. These groups will be displayed in different tabs in the
    Togglz Admin Console. See the <a href="/documentation/feature-groups.html">Feature Groups</a>
    chapter to learn how to setup these groups.
  %li
    Togglz now contains special support for handling feature toggles in unit tests. As part of this two new integration
    modules have been added. The first one provides general support for unit testing and the second one offers
    advanced support for JUnit. See the new <a href="/documentation/testing.html">Testing Support</a> chapter
    for details.

%h2
  Togglz 1.0.0.Final

%ul
  %li
    First official version. No changes since the last release. :)
  
  