---
layout: base
---

%h1
  Forums

%p
  The Togglz forums are hosted on <a href="https://groups.google.com">Google Groups</a>.
  Please check the description of the forums to check which is the right for you.

%h2
  Users Forum

%p
  Do you have any questions how
  to use Togglz? Do you have problems setting it up? Do you want to ask how people are
  organizing their feature flags? Feel free to ask your questions here. :)

%ul
  %li
    %a{:href=>'togglz-users.html'}
      Browse Forum
  %li
    %a{:href=>'https://groups.google.com/forum/?fromgroups#!forum/togglz-users'}
      View on Google Groups

%h2
  Development Forum

%p
  This forum is used to discuss the further development of Togglz. Do you have
  ideas for improvement? Do you want to help developing new features? Did you find a
  bug that you would like to fix? This forum is the right place for you. :)

%ul
  %li
    %a{:href=>'togglz-dev.html'}
      Browse Forum
  %li
    %a{:href=>'https://groups.google.com/forum/?fromgroups#!forum/togglz-dev'}
      View on Google Groups
