// I gather this file is a starting point for the project.
@import "bootstrap";

/*
 * ================================
 *             Layout
 * ================================
 */
 
#header {
  padding: 20px;
}

#header #logo {
  height: 130px;
}

#header h1 {
  font-size: 70px;
}

#header h2 {
  margin: 0 0 0 15px;
  font-size: 30px;
}

#navigation {
  border: 1px solid black;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
}

/*
 * ================================
 *             Common
 * ================================
 */

/* commons */

.calign {
  text-align: center;
}

/* headers and text */

.togglz .content h1 {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.togglz .content h2 {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.togglz .content h3 {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.togglz .content .biglink {
  font-size: 20px; 
  text-align: center;
  font-family: monospace;
  padding: 10px 0px;
  display: block;
}

.togglz code {
  color: #D14;
  background-color: inherit;
  border: none;
}

.togglz pre.prettyprint {
  padding: 10px;
  margin: 12px 0 18px 0;
  border-radius: 6px;
}

.togglz .content img.content-image {
  margin: 12px 0 18px 0;
}

.togglz table.definition td.left {
  vertical-align: top;
  width: 20%;
}