// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

/*
 * ================================
 *             Header
 * ================================
 */
 
#header {
  margin-top: 20px;
  padding: 20px;
}

#header h1 {
  font-size: 70px;
}

#header h2 {
  margin: 30px 0 0 5px;
  font-size: 30px;
}


/*
 * ================================
 *           Navigation
 * ================================
 */
 
#navigation {
  border: 1px solid black;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

.calign {
  text-align: center;
} 

.togglz .prettyprint {
  padding: 10px;
}