/*
 * ================================
 *             Layout
 * ================================
 */
 
#header {
  padding: 20px;
  background-color: #EBFFF4;
  border-radius: 20px;
  margin: 20px 0 15px 0;
}

#header #logo {
  margin-left: 20px;
  height: 130px;
}

#header .subtitle {
  vertical-align: bottom;
  font-size: 30px;
  font-weight: bold;
  color: #999;
  margin: 0 0 10px 20px;
  display: inline-block;
}

#header h1 {
  font-size: 70px;
}

#header h2 {
  margin: 0 0 0 15px;
  font-size: 30px;
}

#navigation {
  border: 1px solid black;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
}

.buildhive-icon {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.togglz .hero-unit {
  width: 80%;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 0 0 20px auto;
}

/*
 * ================================
 *             Home
 * ================================
 */

.news {
}

.news .entry {
  margin: 0 0 15px 10px;
}

.news .entry .date {
  font-size: 12px;
  color: gray;
}

.news .entry .heading {
  font-size: 17px;
  font-weight: bold;
  margin: 3px 0 0 0;
}

.news .entry .content {
  margin: 8px 0 0 10px;
}


/*
 * ================================
 *             Common
 * ================================
 */

/* commons */

.calign {
  text-align: center;
}

.ralign {
  text-align: right;
}

/* headers and text */

.togglz .content h1 {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.togglz .content h2 {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.togglz .content h3 {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.togglz .content .biglink {
  font-size: 20px; 
  text-align: center;
  font-family: monospace;
  padding: 10px 0px;
  display: block;
}

.togglz code {
  color: #D14;
  background-color: inherit;
  border: none;
}

.togglz pre.prettyprint {
  padding: 10px;
  margin: 12px 0 18px 0;
  border-radius: 6px;
}

.togglz .content img.content-image {
  margin: 12px 0 18px 0;
}

.togglz table.definition td.left {
  vertical-align: top;
  width: 20%;
}