!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Togglz - Features flag for Java
    %meta{ :name=>'twitter:card', :content=>'summary' }
    %meta{ :name=>'twitter:site', :content=>'@chkal' }
    %meta{ :name=>'twitter:title', :content=>'Togglz' }
    %meta{ :name=>'twitter:description', :content=>'Feature Flags for the Java platform' }
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/bootstrap.css' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/styles.css' }
    <link href="/stylesheets/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/prettify.js"></script>
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    - if site.google_analytics
      = google_analytics
  %body{ :onload => 'prettyPrint()' }
    .container.togglz
      .row
        .span12
          #header
            %a(href='/')
              %img#logo(src='/images/togglz-logo.png')
            .subtitle
              Feature Flags for the Java platform
      .row
        .span3
          #navigation
            %ul.nav.nav-list
              %li.nav-header
                Main
              %li
                %a{:href=>'/'}
                  Home
              %li
                %a{:href=>'/download.html'}
                  Downloads
              %li
                %a{:href=>'/source-code.html'}
                  Source Code
              %li
                %a{:href=>'/forums/index.html'}
                  Forums
              %li
                %a{:href=>'https://github.com/togglz/togglz/issues'}
                  Issue Tracker
              %li
                %a{:href=>'http://stackoverflow.com/questions/tagged/togglz'}
                  stackoverflow.com
              %li
                %a{:href=>'https://travis-ci.org/togglz/togglz'}
                  Continuous Integration
              %li
                %a{:href=>'/license.html'}
                  License
              %li.nav-header
                Reference
              %li
                %a{:href=>'/whats-new.html'}
                  What's new?
              %li
                %a{:href=>'/quickstart.html'}
                  Getting Started
              %li
                %a{:href=>"/apidocs/2.2.0.Final"}
                  Javadocs 2.2.0.Final
              %li
                %a{:href=>"/apidocs/2.1.0.Final"}
                  Javadocs 2.1.0.Final
              %li
                %a{:href=>"/apidocs/2.0.1.Final"}
                  Javadocs 2.0.1.Final
              %li
                %a{:href=>"/apidocs/1.1.1.Final"}
                  Javadocs 1.1.1.Final
              %li
                %a{:href=>"/apidocs/1.0.0.Final"}
                  Javadocs 1.0.0.Final
              %li
                %a{:href=>'/updating-notes.html'}
                  Updating Notes
              %li.nav-header
                Documentation
              %li
                %a{:href=>'/documentation/overview.html'}
                  Overview
              %li
                %a{:href=>'/documentation/installation.html'}
                  Installation
              %li
                %a{:href=>'/documentation/configuration.html'}
                  Configuration
              %li
                %a{:href=>'/documentation/usage.html'}
                  Usage
              %li
                %a{:href=>'/documentation/admin-console.html'}
                  Admin Console
              %li
                %a{:href=>'/documentation/activation-strategies.html'}
                  Activation Strategies
              %li
                %a{:href=>'/documentation/repositories.html'}
                  State Repositories
              %li
                %a{:href=>'/documentation/authentication.html'}
                  User Authentication
              %li
                %a{:href=>'/documentation/feature-groups.html'}
                  Feature Groups
              %li
                %a{:href=>'/documentation/advanced-config.html'}
                  Advanced Configuration
              %li
                %a{:href=>'/documentation/testing.html'}
                  Testing Support
            - if site.showBuildStatus
              .buildhive-icon
                %a(href='https://travis-ci.org/togglz/togglz')
                  %img(src='https://travis-ci.org/togglz/togglz.png?branch=master')
        .span9.content
          ~ content
      %hr
      %footer
        %p &copy; Christian Kaltepoth #{Date.today.year}
