!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Togglz - Features flag for Java
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/styles.css' }
    <link href="/stylesheets/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/prettify.js"></script>
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body{ :onload => 'prettyPrint()' }
    .container.togglz
      .row
        .span12
          #header
            %h1
              Togglz
            %h2
              Feature Flags for Java
      .row
        .span3
          #navigation
            %ul.nav.nav-list
              %li.nav-header
                Main
              %li
                %a{:href=>'/'}
                  Home
              %li
                %a{:href=>'/download.html'}
                  Downloads
              %li
                %a{:href=>'/source-code.html'}
                  Source Code
              %li
                %a{:href=>'https://github.com/chkal/togglz/issues'}
                  Issue Tracker
              %li
                %a{:href=>'/license.html'}
                  License
              %li.nav-header
                Reference
              %li
                %a{:href=>'/quickstart.html'}
                  Getting Started
              %li
                %a{:href=>'/apidocs'}
                  Javadocs
              %li.nav-header
                Documentation
              %li
                %a{:href=>'/documentation/overview.html'}
                  Overview
              %li
                %a{:href=>'/documentation/installation.html'}
                  Installation
              %li
                %a{:href=>'/documentation/configuration.html'}
                  Configuration
              %li
                %a{:href=>'/documentation/usage.html'}
                  Usage
              %li
                %a{:href=>'/documentation/admin-console.html'}
                  Admin Console
              %li
                %a{:href=>'/documentation/repositories.html'}
                  Feature State Repositories
              %li
                %a{:href=>'/documentation/authentication.html'}
                  User Authentication
        .span9.content
          ~ content
      %hr
      %footer
        %p &copy; Christian Kaltepoth #{Date.today.year}
