---
layout: base
---

%h1
  Activation Strategies

%p
  Togglz defines the concept of <i>activation strategies</i>. They are responsible to
  decide whether an enabled feature is active or not. Activation strategies can for example
  be used to activate features only for specific users, for specific client IPs or
  at a specified time.

%p
  Togglz ships with the following default strategies:

%ul
  %li
    %a(href='#username')
      Username
  %li
    %a(href='#gradual-rollout')
      Gradual rollout
  %li
    %a(href='#release-date')
      Release date
  %li
    %a(href='#client-ip')
      Client IP
  %li
    %a(href='#server-ip')
      Server IP
  %li
    %a(href='#script-engine')
      ScriptEngine

%p
  The following sections will describe each strategy in detail. The last section
  <a href="#custom">custom strategies</a> describes how to build you own strategies.

%a(name='username')
%h2
  Username

%p
  TODO

%a(name='gradual-rollout')
%h2
  Gradual rollout

%p
  TODO

%a(name='release-date')
%h2
  Release date

%p
  TODO

%a(name='client-ip')
%h2
  Client IP

%p
  TODO

%a(name='server-ip')
%h2
  Server IP

%p
  TODO

%a(name='script-engine')
%h2
  Script Engine

%p
  TODO

%a(name='custom')
%h2
  Custom Strategies

%p
  TODO

