---
layout: base
---

%h1
  Admin Console

%p
  Togglz comes with an embedded admin console that allows you to enable or disable features and edit the user list associated with every feature. The following screenshot shows the main page of the console.

%img(src='/images/screenshot-admin-console.png' class='content-image')

%p
  To enable the Togglz admin console, add the following dependency to your <code>pom.xml</code>:

%pre(class="prettyprint lang-xml")
  :escaped
    <!-- Togglz Admin Console -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-console</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency> 

%p
  If you deploy your application to a Servlet 3.0 container, you won't have to do any further configuration. If your container doesn't support Servlet 3.0, you will have to add the <code>TogglzConsoleServlet</code> to your <code>/WEB-INF/web.xml</code> like this:

%pre(class="prettyprint lang-xml")
  :escaped
    <servlet>
      <servlet-name>TogglzConsoleServlet</servlet-name>
      <servlet-class>org.togglz.console.TogglzConsoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>TogglzConsoleServlet</servlet-name>
      <url-pattern>/togglz/*</url-pattern>
    </servlet-mapping>

%p
  The admin console will be available in a virtual path named <code>togglz</code> within you application. So if you application is deployed to a context path named <code>myapp</code> within the container, you will have to use the following URL:

%p.calign
  %a(href='http://localhost:8080/myapp/togglz/' class='biglink')
    http://localhost:8080/myapp/togglz/

%p
  Please note that you will have to configure the user authentication as described in the
  <a href="configuration.html">Configuration</a> and <a href="authentication.html">Authentication</a> 
  chapters to be able to access the admin console.

%p
  If you just want to give it a try and don't want to walk thought the complete
  configuration of the user authentication, you can simply configure a dummy <code>UserProvider</code>
  that assigns administration privileges to every user:

%pre(class="prettyprint lang-java")
  :escaped
    public class MyTogglzConfiguration implements TogglzConfig {

        /* ..... */

        @Override
        public UserProvider getUserProvider() {
            return new UserProvider() {
                @Override
                public FeatureUser getCurrentUser() {
                    return new SimpleFeatureUser("admin", true);
                }
            };
        }
    }

%p
  Please don't use MyTogglzConfiguration in production environments. :)

%h2
  Slack notifications <span class="label label-important">since 2.4.0</span>

%p
  <a href="https://slack.com/">Slack</a> is real-time messaging, archiving and search for teams. 
  You can add <a href="https://github.com/togglz/togglz/tree/master/slack">togglz-slack</a> dependency to notify your team about features state changes.
